p {
  color: rgb(27, 29, 33);
}

.button {
      background-color: #04404f;
      border: none;
      color: rgb(9, 177, 174);
      padding: 9px 20px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
    } 
    
     body {
      background-color: rgb(85, 144, 155);
    } 
     h1 {
      color: rgb(0, 0, 0);
    }
   .sarmad p {
      color: rgb(0, 0, 0);
    }


    